/* Some general style */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General style */
html {
  height: 100%;
}

body {
  background: #2a3052;
  font-family: "Nunito", sans-serif;
  padding-top: 100;
}

/* Container */
.container {
  width: 75%;
  max-width: 700px;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 650px) {
  .container { width: 85%; }
}

.container .error {
  color: #e98024;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20;
}
@media (max-width: 650px) {
  .container .error { font-size: 3em; }
}

/* Logo */
.logo {
  text-align: center;
  width: 75%;
  height: 13rem;
  padding: 1rem 0;
}
@media (max-width: 650px) {
  .logo { height: 10rem; }
}
.logo svg {
  max-width: 100%;
  max-height: 100%;
}

/* Box with text */ 
.sorry {
  background: #eee;
  width: 80%;
  height: auto;
  padding: 1rem;
  border: 1px solid #DCDCDC;
  border-radius: 0.25rem;
}
.sorry h2 {
  font-size: 1.40em;
  line-height: 1.3;
  color: black;
}

.hidden {
  display: none;
}
